*{
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after{
	-moz-box=box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav, footer, header, aside{
	display: block;
}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


input, button, textarea{
	font-family: inherit;

}

*{	
	outline: 0;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
select{-webkit-appearance: none}

.container {
	width: 100%;
	height: 100%;
}

.row{
	height: 30px;
}

.column{
	width: 30px;
	border: 1px solid black;/*3px solid black/*5px solid black*/;
	cursor: pointer;
}

.table{
	float: left;
	border-collapse: collapse;
}

.colors_box {
	float: left;
	width: 100px;
	height: 100%/*100px*/;
	margin-left: 10px;
	/*border: 1px solid black;*/
}

.color_input {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
}

.used_colors {
	overflow: auto;
	height: 88%/*82%/*85%/*89%*//*90%*//*100%*//*100%*/;
}

.used_colors__item {
	cursor: pointer;
	width: 100%;
	height: 30px/*15px*/;
}